/* Here below you should make your changes */
@keyframes static {
  /* Insert your changes */
}

@keyframes level-1 {
  /* Insert your changes */
}

@keyframes move-cartridge {
  /* Insert your changes */
}

.intro {
  /* Insert your changes */
}

.level-1 {
  /* Insert your changes */
}

.static {
}

.move-cartridge {
  /* Insert your changes */
}

#television {
  height: 350px;
  width: 500px;
  margin: 0 auto;
  background-image: url(resources/tv.png),
    linear-gradient(
      -90deg,
      rgba(0, 1, 0, 1),
      rgba(0, 1, 0, 1) 14.2%,
      rgba(17, 23, 159, 1) 14.2%,
      rgba(17, 23, 159, 1) 28.4%,
      rgba(154, 33, 28, 1) 28.4%,
      rgba(154, 33, 28, 1) 42.6%,
      rgba(156, 44, 165, 1) 42.6%,
      rgba(156, 44, 165, 1) 56.8%,
      rgba(86, 175, 62, 1) 56.8%,
      rgba(86, 175, 62, 1) 71%,
      rgba(85, 178, 180, 1) 71%,
      rgba(85, 178, 180, 1) 85.2%,
      rgba(184, 181, 69, 1) 85.2%,
      rgba(184, 181, 69, 1) 100%
    );
  background-size: cover, 60% 70%;
  background-position: center, 35% 35%;
  background-repeat: no-repeat, no-repeat;
}

#nes-console {
  height: 200px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: url(resources/nes.png);
  background-size: cover;
}

#nes-cartridge {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 300px;
  bottom: 0px;
  background-image: url(resources/contra-cartridge.png);
  background-size: cover;
}
